<form #signIn="ngForm" (ngSubmit)="signIn.valid && onSubmit(signIn)">


    <input type="text" #email="ngModel" [(ngModel)]="SignInService.selectedUser.email" name="email" placeholder="Email" required [ngClass]="{'invalid-textbox' :signIn.submitted && !email.valid }">
    <div *ngIf="signIn.submitted && email.errors">
        <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
    </div>
    <input type="password" #password="ngModel" [(ngModel)]="SignInService.selectedUser.password" name="password" placeholder="Password" required [ngClass]="{'invalid-textbox' :signIn.submitted && !password.valid }">
    <div *ngIf="signIn.submitted && password.errors">
        <label *ngIf="password.errors.required" class="validation-message"> password must be not empty</label>
    </div>



    <!--
    <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="email">
    <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="password">
-->
    <input type="submit" value="Sign IN">
</form>
<div class="success" *ngIf="showSucessMessage">
    Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>